<div class="outer-page pic">
      
 <!-- Login page -->
 <div class="login-page">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
      <li id="first_tab"><a href="#login" data-toggle="tab" class="br-black">Sign In</a></li>
      <li id="second_tab" class="active"><a href="#register" data-toggle="tab" class="br-black"></i> Sign Up</a></li>
      <li><a href="#contact" data-toggle="tab" class="br-black">Mail Us</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade" id="login">
      
      <!-- Login form -->
      
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Sign In", class: "btn btn-lg br-custom-blue link-style dark"%>
        </div>
      <% end %>
      
      <%= link_to "Forgot your password?", new_user_password_path %>
      </div>
      
      
      <div class="tab-pane fade active in" id="register">
      <!-- Register form -->

      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="field">
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-lg br-custom-blue link-style dark" %>
        </div>
      <% end %>
      
      </div>
      
      
      <div class="tab-pane fade" id="contact">
      
      <!-- Contact Form -->
      
      <form role="form" action="index.html">
        <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
        <label for="message">Message</label>
        <textarea rows="3" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-lg br-custom-blue link-style dark">Submit</button>
        <button type="reset" class="btn btn btn-default btn-lg link-style dark ">Reset</button>
      </form>
      
      </div>
    </div>
    
 </div> 
      
</div>

