<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<div class="outer-page">
      
       <!-- Login page -->
       <div class="login-page">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="/users/sign_in" data-toggle="tab" class="br-lblue"><i class="fa fa-sign-in"></i> Sign In</a></li>
            <li><a href="#register" data-toggle="tab" class="br-lblue"><i class="fa fa-pencil"></i> Sign Up</a></li>
            <li><a href="#contact" data-toggle="tab" class="br-lblue"><i class="fa fa-envelope"></i> Mail Us</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade active" id="register">
            <!-- Register form -->
            
            <div class="alert alert-info">Just <strong>Click "Submit"</strong> to visit the Dashboard</div>
            
            <form role="form" action="index.html">
              <div class="form-group">
              <label for="name">Full Name</label>
              <input type="text" class="form-control" id="name" placeholder="Full Name">
              </div>
              <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <div class="form-group">
              <label for="cpassword">Confirm Password</label>
              <input type="cpassword" class="form-control" id="cpassword" placeholder="Confirm Password">
              </div>
              <div class="checkbox">
              <label>
                <input type="checkbox"> Agree <a href="#">Terms & Conditions</a>
              </label>
              </div>
              <button type="submit" class="btn btn-info btn-sm">Submit</button>
              <button type="reset" class="btn btn-default btn-sm">Reset</button>
            </form>
            
            </div>
          </div>

        </div>

</div>
