<div class="main-content">
	<div class="container">
		<div class="page-content">
			<div class="row">
				<!-- Heading -->
				<div class="col-sm-8">
					<% if !current_user.groups.include?(@group) %>
						<h1 class="dash-title group group-name">About <%= @group.name %></h1>
							<p><%= @group.description %></p>
						</div>
						<%= form_tag add_user_to_group_path(@group) do %>
						<button type="submit" class="btn btn-lg br-custom-blue link-style join pull-right">Join This Group</button>
						<% end %>
					
					<% else %>
					
						<%= form_tag remove_user_from_group_path(@group) do %>
							<h1 class="dash-title group group-name">About <%= @group.name %></h1>
							<p><%= @group.description %></p>
						</div>
							<%= link_to "Leave This Group", {:action => "remove_user_from_group"}, class: "btn btn-lg btn-default link-style dark pull-right", method: "delete", data: { confirm: "Are you sure?" } %>
						<% end %>
					<% end %>
			</div><!--/row-->
		</div><!--/page-content-->
	
	<br />

	<div class="page-content">

			<ul class="nav nav-tabs">
			  <li class="<%= 'active' if params[:tab].nil? %>">
			    <%= link_to "Upcoming Events (#{@group.upcoming_events.count})", group_path(@group) %>
			  </li>
			  <li class="<%= 'active' if params[:tab] == 'past' %>">
			    <%= link_to "Past Events (#{@group.past_events.count})", group_path(@group, tab: 'past') %>
			  </li>
			</ul>

		<br>

		<% if params[:tab].nil? %>
		  <% @group.upcoming_events.each do |event| %>
				<table class="table table-default">
					<tr>
						<td>
							<%= render "events/events_table", event: event %>
						</td>
					
						<td>
							<% if current_user.events.include?(event) %>
								<h3 class="attending pull-right">Attending</h3>
							<% else %>
								<h3><%= link_to "RSVP", add_rsvp_to_event_path(:rsvp_event_id => event.id, :event_name => event.name), class: "btn br-dark-blue link-style vert-cent pull-right", method: "post" %></h3>
							<% end %>
						</td>
					</tr>
				</table>
		  <% end %>

		<% elsif params[:tab] == 'past' %>
		  <% @group.past_events.each do |event| %>
				<table class="table table-default">
					<tr>
						<td>
							<%= render "events/events_table", event: event %>
						</td>
					
						<td>
							<% if current_user.events.include?(event) %>
								<h3 class="attending pull-right">Attended</h3>
							<% end %>
						</td>
					</tr>
				</table>
		  <% end %>
		<% end %>
			
		</div><!--/page-content-->
	</div><!--/container-->
</div><!--/main-content-->
