<div class="main-content">
	<div class="container">
						
		<div class="page-content">
		
			<!-- Heading for Group Info-->
			<div class="single-head">
				<!-- Heading -->
				<h1 class="dash-title group">About <%= @group.name %></h1>
			</div>
			
			<p><%= @group.description %></p>
			
			<% if !current_user.groups.include?(@group) %>
				<%= form_tag add_user_to_group_path(@group) do %>
					<button type="submit" class="btn btn-lg btn-primary">Join This Group</button>
				<% end %>
			<% else %>
				<%= form_tag remove_user_from_group_path(@group) do %>
					<%= link_to "Leave This Group", {:action => "remove_user_from_group"}, class: "btn btn-xs btn-danger", method: "delete", data: { confirm: "Are you sure?" } %>
				<% end %>
			<% end %>
		</div>
	</div>

	<br>

	<div class="container">
							
			<div class="page-content">
			<!-- Heading for Group Events-->
			<div class="single-head">
				<!-- Heading -->
				<h2 class="dash-title group"><%= @group.name %> Events:</h2>
				
			</div>

			<% @events.each do |event| %>
				<p>
					<%= event.name %>
					<%= link_to "RSVP", add_rsvp_to_event_path(:rsvp_event_id => event.id, :event_name => event.name), class: "btn btn-primary pull-right", method: "post" %>
					<div class="clearfix"></div>
				</p>

				<p><%= event.description %></p>
			<% end %>


			
		</div>
		
	</div>
</div>
