<div class="col-sm-6">
  <div class="widget pages-widget">
    <div class="widget-head br-black">
      <h2 class="link-style no-hov">Events You Are Attending</h2>
    </div>

    <div class="widget-body no-padd">
      <div class="table-responsive">
        <table class="table table-bordered">
          <% if current_user.rsvps.count >= 1 %>
            <!-- Table heading -->
            <tr> 
              <th>Event Title</th>
              <th>Date</th>
              <th>Location</th>
              <th>RSVP</th>
            </tr>
            <% current_user.events.each do |event| %>
              <tr>
                <td><%= event.name %></td><!-- Event Name -->
                <td><%= pretty_datetime(event.starts_at) %></td><!-- Date -->
                <td><%= event.location %></td><!-- Location -->
                <td>
                  <% if event.rsvps.present? %>
                    <%= "Yes" %>
                  <% else %>
                    <%= "RSVP" %>
                  <% end %>
                </td>
              </tr>  
            <% end %>
          <% else %>
            <center><strong>You haven't made any RSVPs yet.</strong></center>
          <% end %>
        </table>
      </div><!--/table-responsive-->
    </div><!--/widget-body-->

    <div class="widget-foot">
      <h3 class="pull-left"><%= current_user.events.count %> Event(s)</h3>
      <%= link_to 'Recommended Events', user_events_path , class: 'btn br-lgreen sub-button pull-right' %>
      <div class="clearfix"></div>
    </div><!-- /widget foot -->
    
  </div>
</div><!-- /col-md -->