<div class="main-content">
	<div class="container">
		<div class="page-content">
			<!-- Heading -->
			<div>
				<h1 class="dash-title user"><%= current_user.first_name || current_user.email %>'s Profile</h1>
			</div>
			
			<div class="divider"></div>
			
			<div class="row">
				
				<div class="col-sm-3">
					<img src='<%= @user.avatar_url %>' class="img-responsive img-thumbnail profile ">
				</div>

					<div class="col-sm-9 pull-left">
							<h4 class="profile-item"><strong>Name: </strong><%= "#{@user.first_name} #{@user.last_name}" %></h4>
							<h4 class="profile-item"><strong>Email:</strong> <%= @user.email %></h4>
							<h4 class="profile-item"><strong>City:</strong> <%= @user.city %></h4>
							<h4 class="profile-item"><strong>State:</strong> <%= @user.state %></h4>

							<h4 class="profile-item"><strong>Bio:</strong> <%= @user.bio %></h4>
							<h4 class="profile-item"><strong>Phone:</strong> <%= @user.phone_number %></h4>
						
						<div class="clearfix"></div>
					</div>
				</div><!--/row-->
				
				<div class="row">
					<div class="col-sm-9 col-sm-offset-3">
						<% if @user.id == current_user.id %>
							<%= link_to 'Edit Profile', edit_registration_path(@user), class: 'btn btn-lg br-custom-blue link-style dark' %>
						<% end %>
					</div>
				</div><!--/row-->

				<div class="clearfix"></div>
			
			</div><!--/single-head-->
		</div><!--/page-content-->
	</div><!--/container-->
</div><!--main-content-->