<!-- About Section -->
<!-- <div id="about-bkgd"> -->
    <!-- <div class="main-content"> -->
        <div class="page-content">
          <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="dash-title group">Meet Our Team</h1>
                    <h4 class="subtitle">Tech Talent South Code Pilots</h4>
                </div>
            </div>
            <div class="divider"></div>
    
            <section id="about">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <%= image_tag 'cp-logo.png', class: 'img-responsive zoom' %>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h1 class="teammate">Our Story</h1>
                                    </div>
                                    <div class="timeline-body">
                                        <p>We became a team in November, 2014. Over the following weeks we put in many hours to create this Start Charlotte app as part of a class project. We have learned a lot throughout this journey!</p>
                                    </div>
                                </div>
                            </li>
                            
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <%= image_tag 'mat.jpg', class: 'img-circle img-responsive' %>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h1 class="teammate cent">Mat Banbury</h1>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="timeline-image">
                                    <%= image_tag 'faye.jpg', class: 'img-circle img-responsive' %>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h1 class="teammate cent">Faye Cheadle</h1>
                                    </div>
                                    
                                </div>
                            </li>
                            
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <%= image_tag 'sharon.jpg', class: 'img-circle img-responsive' %>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h1 class="teammate cent">Sharon Hunter</h1>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="timeline-image">
                                    <%= image_tag 'zack.jpg', class: 'img-circle img-responsive' %>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h1 class="teammate cent">Zack Kirchin</h1>
                                    </div>
                                    
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <%= image_tag 'blake.jpg', class: 'img-circle img-responsive' %>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h1 class="teammate cent">Blake Martinson</h1>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div><!--/col-lg-12-->
                    </div><!--/row-->
                    
                    <br />

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                            <p class="link-style"><a class="yellow" href="#" title="Scroll to Top">Back to Top</a></p>
                        </div>
                    </div>
                </section>
            </div><!--/page-content-->
        </div><!--/container-->
    <!-- </div> --><!--/main-content-->
<!-- </div> --><!--/about-bkgd-->


