<!--header*****************************************************************-->

<div class="navbar text-right">
  <p class="home-logo">Start Charlotte</p>

  <div class="nav_item">
      <%=link_to 'Meet Our Team', about_path, class: 'link-style' %>
  </div>

  <% if current_user %>
    <div class="nav_item">
      <p id="welcome">Welcome, <%= current_user.email %></p>
    </div>
    
    <div class="nav_item">
    <%=link_to 'Sign Out', destroy_user_session_path, class: 'link-style', method: :delete %>
    </div>
  
  <% else %>
    <div class="nav_item">
      <%=link_to 'Sign In', new_user_session_path, class: 'link-style' %>
    </div>  
      
    <div class="nav_item">
      <%=link_to 'Sign Up', new_user_registration_path, class: 'link-style' %>
    </div>
    
  <% end %>
</div><!--/navbar-->

<div id="header">
  <%= image_tag 'city-meeting1450cropped.jpg', class: 'img-responsive' %>

    <div class="overlay lower hidden-xs"></div>
      <div class="container">
        <div class="row">
          <div class="textbox">
            <div class="hidden-xs"><p class="header-text"><span id="changer">Host an event</span></p></div>
           </div><!--</textbox>-->
        </div><!--</row>-->
      </div><!--</container> -->
</div><!-- </header> -->



<!--main content****************************************************************-->
<div class="homepage-content"> 
  <div class="container feature">
    <div class="row">
      <div class="col-sm-5">
        <h3 class="feature-title">Start a Group</h3>
        <p class="explain">With a free Start Charlotte account, you can create and manage as many groups as you like. Start a book club, a hiking group, or even a professional organization.</p><br />
        <p class="explain">There are no limits on the the number of members your groups can have, and you can add or invite new members anytime. You can also choose to make your group public or private.</p>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <i class="fa fa-user fa-5x"></i>
        <i class="fa fa-user fa-5x"></i>
        <i class="fa fa-user fa-5x"></i>
        <i class="fa fa-user fa-5x"></i>
        <i class="fa fa-user fa-5x"></i>
      </div>
    </div>
  </div>
      
  <hr class="custom" />

  <!--**********************************************************************-->
  
    <div class="container feature desk">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-6">
          <div class="backfill">
          <h3 class="feature-title front">Plan Your Event</h3>
            <p class="explain front">Planning any event requires good organization, especially as the size of your event increases.</p>
            <br />
            <p class="explain front">Keep track of each event's details in your group dashboard, including date, location and time. Use the built-in to-do list to keep yourself organized and check off tasks as they are completed to help make your event a success!</p>
        </div>
        </div>
      </div>
    </div>
     
  <hr class="custom" />

  <!--**********************************************************************-->

  <div class="container feature">
    <div class="row">
      <div class="col-sm-5">
        <h3 class="feature-title">Spread the Word</h3>
        <p class="explain">Users can become group members through your group's info page. Then, you can send email reminders of event details, or ask your members to share the link and invite friends to attend as well. Use social media outlets to share sign-up or event info for your group to reach the largest audience.</p>
      </div>
  
      <div class="col-sm-5 col-sm-offset-1">
        <i class="fa fa-envelope-o fa-5x"></i>
        <i class="fa fa-facebook-square fa-5x"></i>
        <i class="fa fa-twitter-square fa-5x"></i>
        <i class="fa fa-google-plus-square fa-5x"></i>
        <i class="fa fa-linkedin-square fa-5x"></i>
      </div>
    </div>
  </div>
      
  <hr class="custom" />

  <!--**********************************************************************-->

  <div class="container feature rsvp">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-6">">
        <div class="backfill">
          <h3 class="feature-title front">Manage RSVPs</h3>
            <p class="explain front">As group members register for events, track RSVPs inside your group's dashboard. Members who are attending are listed and color-coded, as are those who RSVP no. You can stay up-to-date on the number of attendees and quickly scan the list for changes.</p>
            <p class="explain front">It is also possible to look back at each event and view the number of attending members, so that you can track which events or types of events were most popular with your members.</p>
        </div>
      </div>
    </div>
  </div>

  <hr class="custom" />

  <!--**********************************************************************-->
  
  <div class="container feature">
    <div class="row">
      <div class="col-sm-5">
        <h3 class="feature-title">Accept Payments Online</h3>
        <p class="explain">Sometimes you'll need to charge admission to a particular event. Whether it's a conference, a workshop, or a one-time guest speaker, your Start Charlotte account allows you to handle payments securely online. This means you never have to handle cash or checks, reducing liablilty and giving you one more tool to help your event run smoothly.</p>
      </div>
      
      <div class="col-sm-5 col-sm-offset-1">
        <i class="fa fa-credit-card fa-5x"></i>
        <i class="fa fa-credit-card fa-5x"></i>
        <i class="fa fa-credit-card fa-5x"></i>
        <i class="fa fa-credit-card fa-5x"></i>
      </div>
    </div>
  </div>
      
<!--**********************************************************************-->
<div class="jumbotron city">
  <div class="call-to-action">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 text-center col-xs-6 col-xs-offset-3">
        <div class="panel">
          <div class="panel-heading br-black text-center "><h3 class="link-style no-hov">Ready to get started?</h3></div>
            <div class="panel-body text-center">
              Create as many groups and host as many events as you need, always free!      
              <hr>
                <button type="button" class="btn btn-lg btn-block br-custom-blue">
                   <%= link_to 'Sign Up', new_user_registration_path, class: 'link-style dark' %>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--**********************************************************************-->
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 text-center">
            <hr>
            <p>TTS CodePilots ©2015</p>
            <p class="link-style"><a class="lightblue" href="#" title="Scroll to Top">Back to Top</a></p>
          </div>
        </div>
      </div>
    </footer>

</div><!--/homepage-content-->

  

  