<%= bootstrap_form_for([@group, @event], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-7") do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- This shouldn't allow an event to be changed to another group
  <div class="field">
    <%= f.collection_select :group_id, Group.all, :id, :name %>
  </div>
 -->
  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="field">
    <%= f.datetime_select :ends_at %>
  </div>
  <div class="actions">
    <!--<%= f.submit %>-->
    <%= f.submit 'Publish Event', class: 'btn btn-lg br-dark-blue link-style col-sm-offset-2' %>
  </div>
<% end %>
