<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <title><%= content_for(:title) || "CodePilots | StartCharlotte" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  </head>
  <body>
    <% unless current_page?(about_path) %>
      <% if !user_signed_in? || current_page?(root_path) || current_page?(new_user_registration_path) || current_page?(new_user_session_path) || current_page?(first_group_path) %>
        <%= render 'layouts/messages' %>

        <%= yield %>
      <% else %>
        <div class="outer">
          <%= render 'layouts/user_side_bar' %>
          <div class="mainbar">
            <%= render 'layouts/topnav' %>
            <%= render 'layouts/messages' %>
            <%= yield %>
            <!--<%= render 'layouts/footer' %>-->
          </div>
        </div>
      <% end %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>

